@model WebAppExampleRefit.Models.ZipCode

<p>
  @Model?.Number
</p>
<p>
  @Model?.Address
</p>
<p>
  @Model?.Complement
</p>
<p>
  @Model?.Neighborhood
</p>
<p>
  @Model?.City / @Model?.Uf
</p>
<p>
  @Model?.Ibge
</p>
<p>
  @Model?.Gia
</p>
<p>
  @Model?.DDD
</p>
<p>
  @Model?.Siafi
</p>
